<div class="d-none">
  <!-- Pre-load images so that the carousel won't break when show the image first time. -->
  <%= image_tag('profile_image_01.jpg') %>
  <%= image_tag('profile_image_02.jpg') %>
  <%= image_tag('profile_image_03.jpg') %>
  <%= image_tag('profile_image_04.jpg') %>
</div>
