<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <div></div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <div id="btn-top">
          <a class="nav-link pointer-cursor transition-text-color">TOP</a>
        </div>
      </li>
      <li class="nav-item">
        <div id="btn-about">
          <a class="nav-link pointer-cursor transition-text-color">ABOUT</a>
        </div>
      </li>
      <li class="nav-item">
        <div id="btn-projects">
          <a class="nav-link pointer-cursor transition-text-color">PROJECTS</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-laptop-code"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-utensils"></i></a>
      </li>
    </ul>
  </div>
</nav>
