<div class="banner d-flex flex-column justify-content-between">
  <div>
    <h1 class="mt-3">Welcome!</h1>
    <div class="expand-char-parent border-parent mb-3">
      <div class="row mx-auto">
        <div class="col-12 col-md-7 w-75 overflow-hidden">
          <div class="row">
            <p class="mr-2 h3">My name is ...</p>
            <em class="d-flex h3">Ko
              <span class="expand-char">-</span>
              cha
              <span class="expand-char">-</span>
              pas.</em>
          </div>
          <div class="row">
            <p>They called me <em>ALLEN</em>!</p>
          </div>
        </div>
        <div class="col-10 col-md-4 d-flex my-0 mx-auto p-0 position-relative">
          <!-- Middle Pic -->
          <div class="position-relative mx-auto" style="width: inherit; z-index: -1;">
            <div id="main-profile-img" style="background-image:url(<%= image_path('profile_image_01.jpg')%>);"></div>
            <div id="bt-pos" class="position-absolute w-100 border-dark border-top"></div>
            <div id="br-pos" class="position-absolute h-100 border-dark border-right"></div>
            <div id="bb-pos" class="position-absolute w-100 border-dark border-bottom"></div>
            <div id="bl-pos" class="position-absolute h-100 border-dark border-left"></div>
          </div>
          <div class="d-none">
            <!-- Right Pic -->
            <div class="square-banner-img border border-dark position-absolute floating" style="background-image:url(<%= image_path('profile_image_02.jpg')%>); top:5%; right:-20%;"></div>
            <!-- Left Pic -->
            <div class="position-absolute floating text-center" style="top:50%; left:-40%;">
              <div class="square-banner-img border border-dark" style="background-image:url(<%= image_path('cat_image_01.jpg')%>);"></div>
              <p>THESE ARE MY CATS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://drive.google.com/file/d/1L6A-kaDfRrLL_CxP3J_zUNcR2koXNtj9/view" target="blank" class="btn btn-secondary rounded-pill mr-1"><i class="fab fa-google-drive mr-1"></i>Get my CV</a>
    <a href="https://www.linkedin.com/in/kochapas/" target="blank" class="btn btn-secondary rounded-circle mr-1"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/kochapas" target="blank" class="btn btn-secondary rounded-circle"><i class="fab fa-github"></i></a>
  </div>
  <a href="#about" class="text-secondary">
    <div class="w-100 text-center ">
      <i class="fas fa-chevron-down floating"></i>
    </div>
  </a>
</div>
