<div class="banner d-flex flex-column justify-content-between">
  <div>
    <h1 class="mt-3">Welcome!</h1>
    <div class="expand-char-parent border-parent mb-3">
      <div class="row mx-auto">
        <div class="col-12 col-md-7 w-75 overflow-hidden">
          <div class="row">
            <p class="mr-2 h3">My name is ...</p>
            <em class="d-flex h3">Ko
              <span class="expand-char">-</span>
              cha
              <span class="expand-char">-</span>
              pas.</em>
          </div>
          <div class="row">
            <p>They called me <em>ALLEN</em>!</p>
          </div>
        </div>
        <div class="col-10 col-md-4 d-flex my-0 mx-auto p-0">
          <!-- Middle Pic -->
          <div class="position-relative mx-auto" style="width: inherit; z-index: -1;">
            <div id="bt-pos" class="position-absolute w-100"></div>
            <div id="br-pos" class="position-absolute h-100"></div>
            <div id="bb-pos" class="position-absolute w-100"></div>
            <div id="bl-pos" class="position-absolute h-100"></div>
            <div>
              <% img_srcs = [] %>
              <% img_srcs << image_path('profile_image_01.jpg') %>
              <% img_srcs << image_path('profile_image_02.jpg') %>
              <% img_srcs << image_path('profile_image_03.jpg') %>
              <%= render('shared/image-carousel', id: 'ProfileImage', img_srcs: img_srcs) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://drive.google.com/file/d/1L6A-kaDfRrLL_CxP3J_zUNcR2koXNtj9/view" target="_blank" class="btn btn-secondary rounded-pill transition-color mr-1"><i class="fab fa-google-drive mr-1"></i>Get my CV</a>
    <a href="https://www.linkedin.com/in/kochapas/" target="_blank" class="btn btn-secondary rounded-circle transition-color mr-1"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/kochapas" target="_blank" class="btn btn-secondary rounded-circle transition-color"><i class="fab fa-github"></i></a>
  </div>
  <a href="#about" class="text-secondary">
    <div class="w-100 text-center ">
      <i class="fas fa-chevron-down text-dark floating"></i>
    </div>
  </a>
</div>
