<div>
  <div class="profile-card p-3 bg-light border border-secondary d-flex flex-column justify-content-between overflow-auto">
    <div>
      <h2>MORE About me</h2>
      <h3 class="mt-2 mb-0">Hobbies</h3>
      <i class="fas fa-utensils mr-1 mt-3"></i><em>Cooking</em>
      <p class="mb-1">I was growing up with my family’s restaurant, that’s where I learned how to cook. I always have a love for cooking.
        I usually spend my free time cooking and inventing new recipes. Asian and Fusion cuisines are my favorite.</p>
      <i class="fas fa-puzzle-piece mr-1 mt-3"></i><em>Puzzle</em>
      <p class="mb-1">I like putting pieces together to make something new. In the same manner, I find that I can combine and create code to fulfill practical purposes, I enjoy putting together puzzles to see what they make.</p>
      <i class="fas fa-heart mr-1 mt-3"></i><em>Other hobbies</em>
      <% hobbies = ["Hiking", "Physical Fitness", "Photography", "Travelling", "Video Games", "DIY Projects"] %>
      <p class="h5">
        <% hobbies.each do |hobby| %>
          <span class="badge badge-secondary mt-1">
            <%= hobby %>
          </span>
        <% end %>
      </p>
    </div>
  </div>
</div>
