<div id="about" class="">
  <div id="profile-card" class="p-3 bg-light border border-secondary">
    <h2>Kochapas Santibut</h2>
    <%= render('shared/button-expand', btn_icon: raw('<i class="fas fa-envelope"></i>'), btn_label: 'kochapas@outlook.com') %>
    <%= render('shared/button-expand', btn_icon: raw('<i class="fas fa-map-marker-alt"></i>'), btn_label: 'Tokyo,Japan') %>
    <%= render('shared/button-expand', btn_icon: raw('<i class="fab fa-linkedin-in"></i>'), btn_label: 'linkedin.com/in/kochapas') %>
    <%= render('shared/button-expand', btn_icon: raw('<i class="fab fa-github"></i>'), btn_label: 'github.com/kochapas') %>
  </div>
</div>
