<div id="about" class="">
  <div id="profile-card" class="p-3 bg-light border border-secondary">
    <h2>Kochapas Santibut</h2>
    <%= render('shared/button-expand', btn_label: raw('<i class="fas fa-envelope"></i>')) %>
  </div>
</div>
