<div class="container overflow-hidden">
  <div class="scroll-fade active">
    <%= render('pages/banner') %>
  </div>
  <div id="about" class="page-card scroll-fade">
    <%= render('shared/text-headline', headline: 'About Me') %>
    <% pages = [] %>
    <% pages << render('pages/profile-card') %>
    <% pages << render('pages/hobby-card') %>
    <%= render('shared/page-carousel', id: 'About', pages: pages) %>
  </div>
  <div id="projects" class="page-card scroll-fade">
    <%= render('pages/projects-page') %>
  </div>
  <a id="chv-top" class="text-secondary pointer-cursor mt-3">
    <div class="w-100 text-center ">
      <i class="fas fa-chevron-up text-dark floating"></i>
    </div>
  </a>
  <div style="height: 4vh"></div>
</div>
