<div class="container overflow-hidden">
  <%= render('pages/banner') %>
  <div style="height: 8vh"></div>
  <% pages = [] %>
  <% pages << render('pages/profile-card') %>
  <% pages << render('pages/hobby-card') %>
  <div style="height: 8vh"></div>
</div>
