#main-profile-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 60vh;
  width: 30vw;
}

.square-banner-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 200px;
  width: 200px;
}