.main-profile-img {
  height: 60vh !important;
  // width: 30vw;
}

.img-fit-center {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% !important;
}


.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0px,  0px); }
  50%  { transform: translate(0px, 8px); }
  100%   { transform: translate(0px, 0px); }
}

.floating-left {
  animation-name: floating-left;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-left {
  0% { transform: translate(-5px,  0px); }
  50%  { transform: translate(-13px, 0px); }
  100%   { transform: translate(-5px, 0px); }
}

.floating-right {
  animation-name: floating-right;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-right {
  0% { transform: translate(5px,  0px); }
  50%  { transform: translate(13px, 0px); }
  100%   { transform: translate(5px, 0px); }
}

#bt-pos {
  top: -1px;
  right: -20%;
  transition: right 0.5s;
  border-top: 1px solid #343a40;
}

.border-parent:hover #bt-pos {
  right: 0%;
}

#br-pos {
  top: -10%;
  right: -1px;
  transition: top 0.5s;
  border-right: 1px solid #343a40;
}

.border-parent:hover #br-pos {
  top: 0%;
}

#bb-pos {
  bottom: -1px;
  left: -20%;
  transition: left 0.5s;
  border-bottom: 1px solid #343a40;
}

.border-parent:hover #bb-pos {
  left: 0%;
}

#bl-pos {
  top: 10%;
  left: -1px;
  transition: top 0.5s;
  border-left: 1px solid #343a40;
}

.border-parent:hover #bl-pos {
  top: 0%;
}
