@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Lobster&family=Noto+Sans+JP:wght@300&display=swap');

// CSS partial
@import "pages/index";
@import "components/index";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2 {
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


em,
.em-text {
  font-family: 'Kanit', sans-serif;
}

.transition-bg-color {
  transition: background-color 0.5s;
}

.transition-text-color {
  transition: color 0.5s;
}

.pointer-cursor {
  cursor: pointer;
}

.h-fit {
  height: fit-content !important;
}

.w-inherit {
  width: inherit !important;
}

.z-neg-1 {
  z-index: -1;
}